// ============================================
// pages/forgotPassword/ForgotPasswordPage 스타일
// ============================================
@use "@/pages/common.mixin" as common;
@use "@/pages/auth/auth.mixin" as auth;

// 비밀번호 찾기
.ForgotPwPage__root {
  @include auth.page;
}

// 로고
.ForgotPwPage__logo {
  @include common.logo;

  .ForgotPwPage__logo-symbol {
    @include common.logo-symbol;
  }

  .ForgotPwPage__logo-text {
    @include common.logo-text;
  }
}

// 카드
.ForgotPwPage__card {
  @include auth.card;

  // 타이틀
  .ForgotPwPage__title {
    @include auth.card-title;
  }

  // 카드 내용
  .ForgotPwPage__form-content {
    @include auth.card-content;
    gap: 1.125rem;
  }

  // 입력폼
  .member__form-field {
    .Input__base {
      &.MuiFormControl-root {
        &:has(.MuiOutlinedInput-root) {
          --alias-input-padding: 1.0625rem;

          .MuiOutlinedInput-root {
            height: 2.875rem;
            font-size: 0.9375rem;
          }

          .MuiFormLabel-root {
            font-size: 0.9375rem;
          }
        }
      }
    }

    // Submit 버튼
    .ForgotPwPage__submit-btn {
      @include auth.button;
    }
  }

  // 링크 영역
  .ForgotPwPage__back-link {
    @include auth.links;

    .ForgotPwPage__link {
      @include auth.link;
    }
  }

  // 메일발송 완료 : 성공 화면 콘텐츠
  .ForgotPwPage__sent-content {
    @include auth.card-content;
    gap: 1.125rem;

    // Submit 버튼
    .ForgotPwPage__submit-btn {
      margin-top: 0.625rem;
    }
  }

  // 메일발송 완료 : 이메일 표시
  .ForgotPwPage__sent-email {
    font-weight: 600;
  }

  // 메일발송 완료 : Alert 공통
  .ForgotPwPage__alert {
    width: 100%;
  }
}