**/__pycache__/**
**/~*
.vscode/launch.json
.env**
shared_data/tasks/**
shared_data/Logs/**
shared_data/chat_history/**
shared_data/sqlite_db/**
shared_data_docker/**
jmeter_test/**
documents/**
docker_bk/**
**/context_vector_db/**
**/preprocessed/**
**/report/**
test_lsh_search/**
storage/**
TEMP/**