// ============================================
// HelpPanel.scss
// ============================================
@use "@/pages/common.mixin" as common;
@use "@/pages/chat/chat.mixin" as chat;

.HelpPanel__categories {
  gap: 0.25rem;

  .HelpPanel__category-chip {
    @include chat.panel-category-chip;
    
    // cursor: pointer;
    // font-weight: 400;
    // height: 1.625rem;
    // padding-left: 0.25rem;
    // padding-right: 0.25rem;
    // border-color: var(--alias-help-chip-border);
    // background-color: var(--alias-help-chip-bg);
    // font-size: 0.75rem;

    // .MuiChip-label {
    //   padding-left: 0.4375rem;
    //   padding-right: 0.4375rem;
    // }

    &.HelpPanel__category-chip--active {
      // font-weight: 600;
      // color: var(--alias-help-chip-select-text);
      // border-color: var(--alias-help-chip-select-border);
      // background-color: var(--alias-help-chip-select-bg);

      &:hover {
        // background-color: var(--alias-help-chip-select-bg);
      }
    }
  }
}

.HelpPanel__faq-list {
  .Accordion__base {
    border-radius: 0 !important;
    background-color: transparent;

    .Accordion__summary {
      min-height: 2.75rem;
      padding: 0;
      font-size: 0.8125rem;

      .MuiAccordionSummary-content {
        overflow: hidden;
        min-width: 0;

        .Accordion__title {
          flex: 1;
          min-width: 0;
          overflow: hidden;

          .MuiTypography-root {
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .MuiAccordionSummary-expandIconWrapper {
        font-size: 1.375rem;
      }
    }

    .Accordion__details {
      padding: 0.25rem 0 0.875rem;

      .HelpPanel__answer {
        font-size: 0.75rem;
        color: var(--alias-accordion-text);
      }
    }

    &.Mui-expanded {
      .Accordion__summary {
        .MuiAccordionSummary-expandIconWrapper {
          color: var(--alias-accordion-expand-icon);
        }
      }
    }
  }
}