/* Select */
.Select__base {
    &.MuiOutlinedInput-root {
        .MuiSelect-select {
            height: auto;
            min-height: auto;
            padding-top: 0;
            padding-bottom: 0;
            font-size: inherit;
            line-height: normal;

            p {
                font-size: inherit;
            }
        }

        &[class*="sizeSmall"] {
            height: var(--alias-select-height-small);
            border-radius: var(--alias-select-radius-small);
            font-size: var(--alias-select-font-size-small);

            .MuiSvgIcon-root {
                &[class*="MuiSvgIcon-fontSize"] {
                    font-size: var(--icon-size-small);
                }
            }
        }

        &[class*="sizeMedium"] {
            height: var(--alias-select-height-medium);
            border-radius: var(--alias-select-radius-medium);
            font-size: var(--alias-select-font-size-medium);

            .MuiSvgIcon-root {
                &[class*="MuiSvgIcon-fontSize"] {
                    font-size: var(--icon-size-medium);
                }
            }
        }
    }
}