# orkis-desktop-ai dependencies

# ASGI Server + Framework
fastapi==0.115.12
uvicorn==0.34.3

# CLI
click==8.2.0

# LLM
langchain==0.3.25
langchain-core==0.3.65
langchain-openai==0.3.24
langchain-text-splitters==0.3.8
langgraph==0.4.8
langgraph-checkpoint==4.0.3
langgraph-prebuilt==0.5.1
langgraph-sdk==0.3.13

# Vector Search
faiss-cpu==1.12.0
duckdb==1.3.2
langchain-chroma==0.2.4

# RAG Preprocess
datasketch==1.6.5
pandas==2.2.3

# SQL Validation
sqlglot==26.17.1
sqlvalidator==0.0.20

# Utils
func_timeout==4.3.5
filelock==3.18.0
uuid6==2025.0.1

# Core
pydantic==2.11.7
pydantic_core==2.33.2
pydantic-settings==2.9.1
httpx

# Debug
debugpy
