// ============================================
// domain/RecommendedQuestions 스타일
// ============================================
@use "@/pages/common.mixin" as common;
@use "@/pages/chat/chat.mixin" as chat;

.RecommendedQuestions {
  @include chat.recommand-section;

  .RecommendedQuestions__title {
    @include chat.recommand-title;
  }

  .RecommendedQuestions__list {
    gap: 0.625rem;
  }

  .RecommendedQuestions__loading {
    padding: 1rem;
  }

  .RecommendedQuestions__item {
    position: relative;
    gap: 0.75rem;
    height: 2.625rem;
    padding: 0.875rem 1.25rem;
    border: 1px solid var(--alias-main-recommand-list-border);
    background-color: var(--alias-main-recommand-list-bg);
    border-radius: 0.75rem;
    overflow: hidden;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--alias-main-recommand-list-bg-hover);
      opacity: 0;
      transition: all 0.15s linear;
    }

    &:hover::before {
      opacity: 0.03;
    }
  }

  .RecommendedQuestions__text {
    flex: 1;
    font-size: 0.875rem;
    color: var(--alias-main-recommand-list-text);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .RecommendedQuestions__category {
    font-size: 0.75rem;
    color: var(--alias-main-recommand-list-point);
    text-transform: uppercase;
  }
}