// ============================================
// ui/Icon — 통합 아이콘 컴포넌트 스타일
// ============================================

// .Icon__base {
//   &.material-symbols-outlined {
//     line-height: inherit;

//     &[class*="fontSizeXsmall"] {
//       width: var(--alias-icon-btn-width-xsmall);
//       height: var(--alias-icon-btn-height-xsmall);
//       border-radius: var(--alias-btn-radius-xsmall);
//     }
    
//     &[class*="fontSizeSmall"] {
//       width: var(--alias-icon-btn-width-small);
//       height: var(--alias-icon-btn-height-small);
//       border-radius: var(--alias-btn-radius-small);
//     }

//     &[class*="fontSizeMedium"] {
//       width: var(--alias-icon-btn-width-medium);
//       height: var(--alias-icon-btn-height-medium);
//       border-radius: var(--alias-btn-radius-medium);
//     }

//     &[class*="fontSizeLarge"] {
//       width: var(--alias-icon-btn-width-large);
//       height: var(--alias-icon-btn-height-large);
//       border-radius: var(--alias-btn-radius-large);
//     }
//   }
// }

.Icon__clickable {
  cursor: pointer;
}

.Icon__disabled {
  opacity: 0.5;
}

.Icon__hoverable:hover {
  opacity: 0.8;
  color: var(--icon-hover-color);
}