/* Chip */
.Chip__base {
    border-radius: 999rem;

    .MuiChip-label {
        line-height: 1;
        text-transform: capitalize;
    }

    &.sizeXsmall {
        height: var(--alias-chip-height-xsmall);
        padding-left: var(--alias-chip-padding-xsmall);
        padding-right: var(--alias-chip-padding-xsmall);
        font-size: var(--alias-chip-font-size-xsmall);

        .MuiChip-label {
            padding-left: var(--alias-chip-label-padding-xsmall);
            padding-right: var(--alias-chip-label-padding-xsmall);
        }
    }

    &.sizeSmall {
        height: var(--alias-chip-height-small);
        padding-left: var(--alias-chip-padding-small);
        padding-right: var(--alias-chip-padding-small);
        font-size: var(--alias-chip-font-size-small);

        .MuiChip-label {
            padding-left: var(--alias-chip-label-padding-small);
            padding-right: var(--alias-chip-label-padding-small);
        }
    }

    &.sizeMedium {
        height: var(--alias-chip-height-medium);
        padding-left: var(--alias-chip-padding-medium);
        padding-right: var(--alias-chip-padding-medium);
        font-size: var(--alias-chip-font-size-medium);

        .MuiChip-label {
            padding-left: var(--alias-chip-label-padding-medium);
            padding-right: var(--alias-chip-label-padding-medium);
        }
    }

    &.sizeLarge {
        height: var(--alias-chip-height-large);
        padding-left: var(--alias-chip-padding-large);
        padding-right: var(--alias-chip-padding-large);
        font-size: var(--alias-chip-font-size-large);

        .MuiChip-label {
            padding-left: var(--alias-chip-label-padding-large);
            padding-right: var(--alias-chip-label-padding-large);
        }
    }
}