// ============================================
// 공통(Common) SCSS mixins
// ============================================
// 사용: @use "@/pages/common.mixin" as common;
//       @include common.logo;
// ============================================

// 로고
$logo-size: 2.625rem; // 로고 사이즈 42px

@mixin logo($size: $logo-size) {
  gap: 0.4375rem;
  justify-content: center;
  align-items: center;
  height: $size;
}

// 로고 - 심볼
@mixin logo-symbol($size: $logo-size) {
  width: $size;
  height: $size;
}

// 로고 - 텍스트
@mixin logo-text($size: 1.25rem) {
  height: $size; // 20px
}

// Link
@mixin link {
  color: var(--alias-common-link-primary);
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

// Table
@mixin table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--alias-table-line);
  overflow: hidden;

  [class*="-row"] {
    gap: 0.5rem;

    [class*="-label"] {
      flex: 1;
      font-size: 0.75rem;
      color: var(--alias-right-contents-label);
    }

    [class*="-value"],
    [class*="-count"] {
      flex: 1;
      font-size: 0.75rem;
    }
  }

  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}

// Table Row
@mixin table-row {}

// Table Header Cell
@mixin table-header-cell {
  min-height: 2.1875rem;
  padding: 0.375rem 1rem;
  border-bottom: 1px solid var(--alias-table-line);
  background-color: var(--alias-table-header-bg);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--alias-table-header-text);
  white-space: nowrap;

  @media (max-width: 3840px) {}

  @media (max-width: 1920px) {}

  @media (max-width: 1440px) {}

  @media (max-width: 1024px) {}

  @media (max-width: 800px) {}

  @media (max-width: 640px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@mixin table2-header-cell {
  height: 2.4375rem;
  padding: 0.375rem 1rem;
  border-bottom: 1px solid var(--alias-table-line);
  background-color: var(--alias-table2-header-bg);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--alias-table-header-text);
  white-space: nowrap;

  @media (max-width: 3840px) {}

  @media (max-width: 1920px) {}

  @media (max-width: 1440px) {}

  @media (max-width: 1024px) {}

  @media (max-width: 800px) {}

  @media (max-width: 640px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

// Table Cell
@mixin table-cell {
  border-collapse: separate;
  border-spacing: 0;
  min-height: 2.1875rem;
  padding: 0.375rem 1rem;
  border-bottom: 1px solid var(--alias-table-line);
  background-color: var(--alias-table-body-bg);
  font-size: 0.75rem;
  color: var(--alias-table-body-text);

  @media (max-width: 3840px) {}

  @media (max-width: 1920px) {}

  @media (max-width: 1440px) {}

  @media (max-width: 1024px) {}

  @media (max-width: 800px) {}

  @media (max-width: 640px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@mixin table2-cell {
  border-collapse: separate;
  border-spacing: 0;
  height: 2.375rem;
  padding: 0.375rem 1rem;
  border-bottom: 1px solid var(--alias-table-line);
  background-color: var(--alias-table2-body-bg);
  font-size: 0.75rem;
  color: var(--alias-table-body-text);

  @media (max-width: 3840px) {}

  @media (max-width: 1920px) {}

  @media (max-width: 1440px) {}

  @media (max-width: 1024px) {}

  @media (max-width: 800px) {}

  @media (max-width: 640px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  p {
    font-size: 0.75rem;
  }
}

// Table Cell Selected
@mixin table-cell-selected {
  background-color: var(--alias-table-body-select-bg) !important;
}

// Accordion Base
@mixin accordion-base {
  border-radius: 0.5rem;
  border: none;
  background-color: var(--alias-setting-bg);

  .Accordion__details {
    padding-top: 0.125rem;
  }

  &.Mui-expanded {
    border: 1px solid var(--alias-setting-expand-border);
    background-color: var(--alias-setting-expand-bg);
  }
}

// Shadow
@mixin shadow-light {
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.12) !important;
}

@mixin shadow-dark {
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.25) !important;
}