// ============================================
// pages/signup/SignupPage 스타일
// ============================================
@use "@/pages/common.mixin" as common;
@use "@/pages/auth/auth.mixin" as auth;

// 회원가입 페이지
.SignupPage__root {
  @include auth.page;
  max-width: 47.5rem; // 760px
}

// 카드
.SignupPage__card {
  @include auth.card;

  // 카드 내용
  .SignupPage__form-content {
    @include auth.card-content;

    .FormField__label {
      .FormLabel__base {
        color: var(--alias-member-label);
      }
    }
  }

  // Form Field 내용
  .SignupPage__field-with-btn {
    width: 100%;
  }

  // Submit 버튼
  .SignupPage__submit {
    justify-content: center;
    margin-top: 0.625rem;

    .SignupPage__submit-btn {
      @include auth.button;
      width: 16.25rem;
    }
  }

  // 링크
  .SignupPage__home-link {
    @include auth.link;
  }

  // 에러메세지
  .SignupPage__error-alert {
    margin-bottom: 0.5rem;
  }
}