/* List */
.List__base {
    .List__item-button {
        min-height: var(--alias-list-item-height-medium);
    }

    &.MuiList-dense {
        .List__item-button {
            min-height: var(--alias-list-item-height-small);
        }
    }

    .List__base {
        .List__item-button {
            padding-left: var(--alias-list-item-depth-indent);
        }
    }
}