// ============================================
// NoticePanel.scss
// ============================================
@use "@/pages/common.mixin" as common;
@use "@/pages/chat/chat.mixin" as chat;

// ── NoticePanel ───────────────────────────────
.NoticePanel__list {
  @include chat.panel-accordion-list;

  .NoticeItem__header {
    .NoticeItem__subtitle {
      .NoticeItem__meta-text {
        font-size: 0.75rem;
        color: var(--alias-notice-light-text);
      }

      .NoticeItem__meta-divider {
        font-size: 0.75rem;
        color: var(--alias-notice-line);
      }
    }
  }

  .NoticeItem__content {
    padding: 1rem 0 0.5rem 1.75rem;

    >* {
      margin: 0;

      +* {
        margin-top: 1rem;
      }
    }

    a {
      @include common.link;
    }

    ul,
    ol {
      padding: 0;
    }

    li {
      list-style-position: inside;
    }
  }
}